*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.ba-container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    margin: auto;
}

img {
    max-width: 100%;
}

.ba-grid:before,
.ba-grid:after {
    content: " ";
    display: table;
}

.ba-grid:after {
    clear: both;
}

.ba-grid + .ba-grid {
    margin-top: 20px;
}

[class*="ba-width-"] {
    width: 100%;
}

.ba-grid > [class*="ba-width-"] {
    float: left;
    padding-left: 20px;
}

.ba-grid {
    margin-left: -20px;
}

.ba-width-1-2 {
    width: 50%;
}

.ba-width-1-3 {
    width: 33.33333%;
}

.ba-width-1-6 {
    width: 16.66666%;
}
